/**/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif !important;
}
.alpha20 {
  -moz-opacity: 0.20;
  -ms-opacity: 0.20;
  opacity: 0.20;
}
.alpha25 {
  -moz-opacity: 0.25;
  -ms-opacity: 0.25;
  opacity: 0.25;
}
.alpha50 {
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
}
.alpha75 {
  -moz-opacity: 0.75;
  -ms-opacity: 0.75;
  opacity: 0.75;
}
.pointer.alphaover {
  opacity: 0.5;
}
.pointer.alphaover:hover {
  opacity: 1;
}
.underline {
  text-decoration: underline;
}
.link-calm {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.link-calm a:link {
  color: #4ebfa6;
}
.link-calm a:visited {
  color: #4ebfa6;
}
.link-calm a:hover {
  color: #4ebfa6;
}
.link-calm a:active {
  color: #4ebfa6;
}
.img500 img {
  max-width: 460px ;
  width: 100%;
}
.img500 p {
  text-align: justify;
}
.italic {
  font-style: italic;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-left .item {
  background-color: transparent !important;
  border: none;
  color: #F0F1F1;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}
.menu-left .item-complex .item-content,
.menu-left .item-radio .item-content {
  background-color: transparent;
}
.white-bg {
  background-color: white;
}
.overflow-dropdown {
  overflow: visible;
}
.overflow-dropdown label {
  overflow: visible;
}
.propositioncard {
  max-width: 500px;
}
@media (max-width: 320px) {
  .hide320 {
    display: none;
  }
}
.show400 {
  display: none;
}
@media (min-width: 321px) and (max-width: 400px) {
  .show400 {
    display: inline;
  }
}
@media (min-width: 481px) {
  .centercardhandler {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  .centercardhandler .cardcentered {
    width: 500px !important;
    padding: 0px;
    margin: 0px;
  }
  .centercardhandler .cardcentered .card {
    margin-top: 0px;
  }
}
.propositioncard .item {
  padding: 2px 6px 2px 6px;
  font-size: 12px;
  color: #6a6a6a;
}
.detailedproposition .propositioncard {
  margin-top: 2px;
}
.tabs-striped.strip-calm .tab-item.tab-item.active,
.tabs-striped.strip-calm .tab-item.activated {
  margin-top: -4px;
  border: 0 solid #4ebfa6;
  border-top-width: 4px;
}
.tabs-striped.inverted-strip .tab-item.tab-item.active,
.tabs-striped.inverted-strip .tab-item.activated {
  margin-top: 0px;
  margin-bottom: -4px;
  border: 0 solid #4ebfa6;
  border-top-width: 0px;
  border-bottom-width: 4px;
}
.tabs-striped.tabs-color-dark .tab-item {
  color: #346f66;
}
.tabs-striped.tabs-transparent .tabs {
  background: none !important;
  border: none !important;
}
.tabs-striped.tabs-transparent .tabs .tab-item {
  color: #ffffff;
}
ion-header-bar.bar.bar-extended {
  height: 52px;
}
ion-footer-bar.bar {
  padding: 0px !important;
}
ion-header-bar.bar.bar-extended .tab-item {
  font-size: 16px;
}
ion-content.bg-grey {
  background-color: #F7F7F7;
}
.scroll-refresher .icon-pulling .icon {
  color: #4ebfa6;
}
.scopehandler .diags {
  padding: 0;
  margin: 0;
  display: block;
  padding-right: 5px;
  text-align: right;
}
.scopehandler .diags .scopebar {
  display: inline-block;
  width: 5px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 2px;
}
.scopehandler .diags .scopebar.town {
  height: 6px;
}
.scopehandler .diags .scopebar.departement {
  height: 10px;
}
.scopehandler .diags .scopebar.region {
  height: 14px;
}
.scopehandler .diags .scopebar.country {
  height: 18px;
}
.scopehandler .diags .scopebar.active {
  background-color: #4ebfa6;
}
.scopehandler .label {
  text-align: right;
  position: relative;
  font-size: 0.8em;
  top: -4px;
  padding: 0;
  margin: 0;
  padding-right: 4px;
}
.cardvoteblock {
  position: absolute;
  left: 110px;
  top: 16px;
}
.cardvoteblock .cardvotebutton {
  font-size: 85px;
  padding: 1px;
  margin-left: 12px;
  position: relative;
  top: -9px;
}
.proptitlecard {
  font-size: 0.97em;
}
.touchtovotepublic {
  font-size: 11px;
}
@media (max-width: 330px) {
  .proptitlecard {
    font-size: 0.87em;
  }
}
@media (max-width: 2000px) {
  .touchtovotepublic {
    font-size: 10px;
  }
  .cardvoteblock {
    top: 26px;
    left: 96px;
  }
  .cardvoteblock .cardvotebutton {
    font-size: 64px;
    padding: 1px;
    margin-left: 1px;
    position: relative;
    top: -6px;
  }
}
.lightborder {
  box-sizing: border-box;
  border-left: 1px solid;
  border-left-color: #f4f4f4;
  border-bottom: 1px solid;
  border-bottom-color: #ebebeb;
  margin: 4px;
}
.col .title {
  padding: 8px;
  color: #346f66;
  font-size: 18px;
}
/**/
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}
.bar-subfooter {
  bottom: 50px;
}
.cardrank {
  position: absolute;
  display: inline-block;
  padding: 3px;
  color: #444;
  font-size: 12px;
  left: 8px;
  top: -21px;
}
.ranksproposition {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 2px;
}
.card.card-lessmargin {
  margin: 2px;
}
.voteamendementbutton {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: 54px;
  text-align: center;
}
.pointer {
  cursor: pointer;
  cursor: hand;
}
.noshadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.button.button-block.button-calm {
  border: none;
}
.button.button-calm:not(.button-outline) {
  border: none;
}
.item-floating-label {
  background-color: white !important;
}
@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bar {
    background-image: none !important;
  }
}
.bar.bar-dark {
  border-color: #346f66;
}
.autoheight {
  line-height: normal;
}
ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
}
ion-popover-view.fit ion-content {
  position: relative !important;
}
.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
.noopacity .tabs .tab-item {
  opacity: 1;
}
.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute !important;
  margin: 0 auto;
  width: 100%;
}
.list.list-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  width: 100%;
  /* Radio item */
  /* Checkbox */
  /* /!\ not fully working with long-text on */
}
.list.list-inline .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
}
.list.list-inline .item-radio .item-content {
  /* give some room to the right for the checkmark icon */
  padding: 12px;
  padding-right: 16px;
}
.list.list-inline .item-radio .radio-icon {
  /* checkmark icon will be hidden by default */
  padding: 5px;
}
.list.list-inline .item-checkbox {
  padding-left: 44px;
}
.list.list-inline .item-checkbox .checkbox {
  padding-left: 0;
}
/**/
.item-radio input:checked + .radio-content .radio-icon {
  visibility: visible;
}
/**/
.card {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/**/
.tutorial .slider-pager {
  font-size: 9px;
}
.tutorial .slider-pager .slider-pager-page {
  color: #346f66;
}
.tutorial .header-bottom {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 1px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.tutorial .bottom-box .buttonnext {
  text-decoration: underline;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 0px;
  padding: 6px;
  font-weight: bold;
  width: 100%;
  top: 100px;
}
.tutorial .bottom-box .tutogif {
  max-height: 220px;
  position: relative;
  top: 5px;
}
.tutorial .bottom-box .bottomtuto {
  height: 200px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  position: relative;
  padding-bottom: 60px;
}
.tutorial .bottom-box .bottomtuto div:nth-of-type(1) {
  width: 45%;
  color: white;
  font-weight: bold;
  text-align: right;
}
.tutorial .bottom-box .bottomtuto div:nth-of-type(2) {
  width: 1px;
  height: 67px;
  background-color: white;
}
.tutorial .bottom-box .bottomtuto div:nth-of-type(3) {
  width: 45%;
  color: white;
  text-align: left;
  line-height: 15px;
}
@media (max-height: 627px) {
  .slider-slide {
    padding-top: 40px !important;
  }
  .tutogif {
    max-height: 250px  !important;
  }
}
@media (max-height: 568px) {
  .slider-slide {
    padding-top: 30px !important;
  }
  .tutogif {
    max-height: 224px !important;
  }
}
@media (max-height: 512px) {
  .slider-slide {
    padding-top: 10px !important;
  }
  .tutogif {
    max-height: 220px !important;
  }
}
@media (max-height: 480px) {
  .slider-slide {
    padding-top: 20px !important;
  }
  .tutogif {
    max-height: 180px  !important;
  }
}
@media (max-width: 365px) {
  .tutorial .slider-slide {
    padding-top: 8px;
  }
  .tutorial .header-bottom {
    margin-top: 10px;
    margin-bottom: 12px;
    height: 1px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .tutorial .bottom-box {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .tutorial .bottom-box .bottomtuto {
    padding-bottom: 50px;
  }
}
.center-global .scroll {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
ui-virtual-list {
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  display: block;
}
ui-virtual-list .canvas {
  background-color: #eee;
  position: relative;
}
ui-virtual-list div.renderer {
  display: block;
  width: 100%;
  cursor: pointer;
  position: absolute;
  height: 40px;
  line-height: 40px;
  border: 1px gray solid;
}
/**
ui-virtual-list div.renderer span {
  margin-left: 10px;
}

ui-virtual-list div.renderer.selected {
  background-color: #ccc;
}

ui-virtual-list div.renderer:hover {
  background-color: #666;
  color: white;
}
/**/
.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.platform-android .action-sheet {
  align-content: center;
  margin: auto;
  max-width: 96vw;
  border-radius: 5px;
  /*margin: 0;*/
  margin-bottom: 10px;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
  text-align: left;
  /*border-color: #e2e2e2;*/
  font-size: 16px;
  color: inherit;
}
.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #666;
}
.platform-android .action-sheet .button {
  border-color: #e2e2e2;
  padding-left: 16px;
  color: #104e89;
}
.platform-android .action-sheet .button.destructive {
  color: red;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
  background: #e8e8e8;
}
.platform-android .action-sheet-group {
  /*margin: 0;*/
  border-radius: 0;
  background-color: #fafafa;
}
.platform-android .action-sheet-cancel {
  display: none;
}
.platform-android .action-sheet-has-icons .button {
  padding-left: 56px;
}
